<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body ng-app>
       <label>Filtre :</label>
          <input type="text" ng-model="filtre" />

        <div ng-init="users=['MARC','JEAN','MODOU','ADAMA']">
           TOUS LA LISTE
            <ul>
                <li  ng-repeat="user in users">
                    {{user | uppercase}}
                </li>
            </ul>
            LISTE FILTREE
            <ul>
                <li  ng-repeat="user in users | filter : filtre">
                    {{user | uppercase}}
                </li>
            </ul>

            FILTRE SUR UN TABLEAU
            {{users }}
        </div>

    <div ng-init="utilisaters=[{name : 'ndour',content:'commentaire 1'},
                {name : 'ndiaye',content:'commentaire 2'},
                {name : 'ba',content:'commentaire 3'}]">
        <label>Filtre :</label>
        <input type="text" ng-model="filtre2" />
        organiser par
        <select ng-model="order">
            <option value="+name">Nom croisent</option>
            <option value="-name">Nom decroisent</option>
            <option value="+content">Content decroisent</option>
            <option value="-content">Content croisent</option>
        </select>

            <ul>
                <li ng-repeat="utilisater in utilisaters | orderBy : order | filter:{name: filtre2}">
                        {{utilisater | uppercase}}
                </li>
            </ul>


    </div>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app/modules/app.js"></script>
</body>
</html>